@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

html {
    font-family: "Poppins";
}

p{
    text-transform: none;
}

#top, #bottom, #left, #right {
	background: #100077;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

#navbar {
    background-color: white;
    height: 55px;
    width: 100%;
    left: 0;
    display: inline;
    position: fixed;
    border-style: solid;
    border-color: #100077;
    border-width: 10px;
    border-bottom: 0px;
    z-index: 5;   
}

#tbox {
    background-color: #100077;
    width: 83px;
    height: 85px;
    margin-top: 25px;
    margin-left: 0px;
    position: absolute;
    border-color: #100077;
	border-style: solid;
	border-width: 1px;
	border-left: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 5px 5px -5px #333;
}

#tbox:hover {
	background-color: white;
	border-color: #100077;
	border-style: solid;
	border-width: 1px;
	border-left: 0px;
}

#tbox:hover #title {
	color: #100077;
}

#title {
    font-family: "Poppins";
    font-size: 35px;
    line-height: 90%;
    color: white;
    margin-left: -25px;
    margin-top: 7px;  
    font-weight: 500; 
    letter-spacing: -1px;
}

#menu {
	margin-top: 108px;
	background-color: #100077;
	border-color: #100077;
	border-style: solid;
	border-width: 1px;
	border-left: 0px;
	border-top: 0px;
	text-align: center;

}

#menu a {
	color: white;
	font-size: 13px;
	font-weight: 500;
}

#menu a:hover {
	color: #100077;;
	font-size: 13px;
	font-weight: 500;
}

#magglass {
    color: white;
    float: right;
    font-size: 23px;
    display: inline;
    background-color: #100077;
    padding: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: #100077;
    border-top: 0px;
    border-right: 0px;
}

#magglass:hover {
    color: #100077;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #100077;
    border-top: 0px;
    border-right: 0px;  
}

#logoutb {
    background-color: #100077;
    float: right;
    display: inline;
    border-width: 0px;
    border-radius: 0px;
    height: 42px;
    font-family: "Poppins";
    color: white;
    width: 100px;  
    font-size: 12px;
    text-align: center;
    padding-top: 11px;
}

#logoutb:hover {
    color: #100077;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #100077;
    border-top: 0px;
    border-right: 0px;  
}

#notFound {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    color: #100077;
}

#feed {
    position: relative;
    top: 15%;
    text-align: center;
   
}

#searchmodal {
    position: absolute;
    height: 53px;
    right: 8px;
    top: 55px;
    width: 100%;
    background-color: #100077; 
    margin: 0 auto;
    text-align: center;
    z-index: 4;
    display: none;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #333;

}

#searchbox {
    width: 50%;
    margin-top: -10px;
    height: 24px; 
    float: right;
    background: white;
    border-style: solid;
    border-color: #100077;
    border-width: 1.20px;
    border-radius: 4px;
    font-family: "Poppins";
}

#magglassmodal {
    color: white;
    float: right;
    font-size: 25px;
    display: inline;
    background-color: #100077;
    padding: 9px;
    margin-top: -18px;  
}

a#searchbmodal:hover{
	cursor:pointer;
}

#uploadmodal, #sharepicmodal, #addtagmodal {
    position: absolute;
    margin: 10 auto;
    width: 42%;
    height: 63%;
    text-align: left;
    border-radius: 3.5px;
    display: none; 
}
